#  Байт-компилированные/оптимизированные/DLL-файлы 
__pycache__  / 
*  .py  [  код  ] 
*  $py.класс 

#  Расширения C 
*  .so 

#  Распространение/упаковка 
.Питон 
построить  / 
развивать-яйца  / 
расстояние  / 
загрузки  / 
яйца  / 
.яйца  / 
библиотека  / 
библиотека64  / 
части  / 
срасст  / 
был  / 
колеса  / 
пип-колесо-метаданные  / 
поделиться  /  питон-колеса  / 
*  .яйцо-информация  / 
.установлено.cfg 
*  .яйцо 
МАНИФЕСТ 

#  PyInstaller 
#  Обычно эти файлы пишутся скриптом python из шаблона 
#  до того, как PyInstaller создаст исполняемый файл, чтобы добавить в него дату/другую информацию. 
*  .манифест 
*  .спецификация 

#  Логи установщика 
пип-log.txt 
pip-delete-this-directory.txt 

#  Модульные тесты / отчеты о покрытии 
htmlcov  / 
.токс  / 
.нокс  / 
.покрытие 
.покрытие.   * 
.кэш 
носовые тесты.xml 
покрытие.xml 
*  .обложка 
*  .ру, обложка 
.гипотеза  / 
.pytest_cache  / 

#  Переводы 
*  .для 
*  .горшок 

#  Материал Джанго: 
*  .лог 
local_settings.py 
db.sqlite3 
db.sqlite3-журнал 

#  Фляга: 
экземпляр  / 
.webassets-кэш 

#  Парсер: 
.лоскутный 

#  документация по сфинксу 
документы  /  _сборка  / 

#  Пибилдер 
цель  / 

#  Блокнот Юпитер 
.ipynb_checkpoints 

#  IPython 
профиль_по умолчанию  / 
ipython_config.py 

#  pyenv 
.python-версия 

#  пипенв 
#  Согласно  pypa/pipenv#598  рекомендуется включать Pipfile.lock в систему контроля версий. 
#  Тем не менее, в случае совместной работы, если есть зависимости от конкретной платформы или зависимости 
#  не имея кросс-платформенной поддержки, pipenv может устанавливать зависимости, которые не работают или не работают 
#  устанавливаем все необходимые зависимости. 
#  Pipfile.lock 

#  ПЭП 582;   используется, например, github.com/David-OConnor/pyflow 
__pypackages__  / 

#  Сельдерей 
celerybeat-график 
celerybeat.pid 

#  файлы, проанализированные SageMath 
*  .sage.py 

#  Среды 
.env 
.venv 
окр  / 
Венв  / 
ENV  / 
окр.бак  / 
venv.back  / 

#  Настройки проекта Spyder 
.spyderproject 
.spyproject 

#  Настройки проекта веревки 
.ropeproject 

#  документация mkdocs 
/  сайт 

#  mypy 
.mypy_cache  / 
.dmypy.json 
dmypy.json 

#  Проверка типа костра 
.pyre  / 

data/
config.py
